<div id="<%= dom_id booking %>" class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">

  <% if booking.user == current_user %>

  <div class="card" style="width: 25rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Supplier name:</strong>
        <%= booking.Supplier_name %>
      </li>

      <li class="list-group-item">
        <strong>Number of pallets:</strong>
        <%= booking.Number_of_pallets %>
      </li>

      <li class="list-group-item">
        <strong>Date:</strong>
        <%= booking.Date %>
      </li>
      <!-- <strong>User ID:</strong>
      <%= booking.user_id %> -->
      <li class="list-group-item">
        <%= link_to "Manage this booking", booking %>
      </li>
    </ul>
  </div>
  
<% end %>

</div>
