<div id="<%= dom_id booking %>" class="booking-wrapper">

<% if booking.user == current_user %>

  <p class="card-title">
    <strong>Supplier name:</strong>
    <%= booking.Supplier_name %>
  </p>

  <p class="card-text">
    <strong>Number of pallets:</strong>
    <%= booking.Number_of_pallets %>
  </p>

  <p class="card-text">
    <strong>Date:</strong>
    <%= booking.Date %>
  </p>
  <strong>User ID:</strong>
  <%= booking.user_id %>
  <p>
<%= link_to "Manage this booking", booking %>
</p>
<% end %>

</div>
