<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label :Supplier_name, style: "display: block", class: "form-label" %>
    <%= form.text_field :Supplier_name, class: "form-control" %>
  </div>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label :Number_of_pallets, style: "display: block", class: "form-label" %>
    <%= form.number_field :Number_of_pallets, class: "form-control" %>
  </div>

  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.label :Date, style: "display: block" %>
    <%= form.date_field :Date %>
  </div>

  <div>
    <%= form.number_field :user_id, id: :booking_user_id, value: current_user.id, type: :hidden %>
  </div>


  <div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">
    <%= form.submit %>
  </div>
<% end %>
