<p style="color: green"><%= notice %></p>

<%= render @booking %>

<div>
  <%= button_to "Print confirmation", '#', onclick: "window.print()" %>
  <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <%= link_to "All bookings", bookings_path %>

  <%= button_to "Cancel this booking", @booking, method: :delete %>
</div>
