
<%= render @booking %>

<div class="col-md-3 col-lg-2 col-xl-4 mx-auto mb-4">

  <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <%= link_to "All bookings", bookings_path %>
  <%= button_to "Print confirmation", '#', onclick: "window.print()", :class => "btn btn-secondary btn-md fw-bold btn-forms" %>
  <%= button_to "Cancel this booking", @booking, method: :delete, :class => "btn btn-secondary btn-md fw-bold btn-forms" %>
  
</div>
