<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="https://github.com/JarekPo/bookingApp" role="button"><i class="fab fa-github">GitHub</i></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com" role="button"><i class="fab fa-twitter">Twiter</i></a>

      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://facebook.com" role="button"><i class="fab fa-facebook-f">Facebook</i></a>
    
      <!-- LinkedIn -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/jarek-polowy/" role="button"><i class="fab fa-linkedin-in">LinkedIn</i></a>

      <!-- Google -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: white" href="https://www.google.com" role="button">
        <i class="fab fa-google" style="font-weight: bold"></span><span style="color: #4285f4;">G</span><span style="color: #ea4335;">o</span><span style="color: #fbbc05;">o</span><span style="color: #4285f4;">g</span><span style="color: #34a853;">l</span><span style="color: #ea4335;">e</span></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Mayo Booking
          </h6>
          <%= image_tag("logo.png", :alt => "logo") %>
          <p>
          The Delivery Booking System was developed as a project within the Cloud Application Development module at <a href="https://www.ncirl.ie" target="_blank" rel="noreferrer">NCI</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Navigation
          </h6>
          <p>
            <%= link_to 'Home', root_path %>
          </p>
          <p>
            <%= link_to 'About', home_about_path %>
          </p>
          <p>
          <%= link_to 'Contact', contact_us_path %>
          </p>
          <p>
          <%= link_to 'Sign In', new_user_session_path %>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Booking
          </h6>
          <p>
          <%= link_to "New Booking", new_booking_path %>
          </p>
          <p>
          <%= link_to "My Bookings", bookings_path %>
          </p>
          <p>
          <%= link_to 'My Account', edit_user_registration_path %>
          </p>
          <p>
            <a href="https://google.com" target="_blank" rel= “noreferrer">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <address>
              Ballina Warehouse<br>
              Abbey Street<br>
              Ballina<br>
              Co. Mayo<br>
              Tel. 096 543210<br>
              contact@mayobooking.com
          </address>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <span class="text-reset fw-bold">
      <%= link_to 'Mayo Booking', root_path %>
    </span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
